.app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.app-header-text {
    padding-right: 15vh;
    display: flex;
    align-items: end;
}

.paper {
    width: 80%;
    min-height: 20vh;
    max-height: fit-content;
}

.chip-container {
    width: 62%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7rem;
}
